.redux-container-better_color_gradient .colorGradient {
  display: inline-block;
}
.redux-container-better_color_gradient .toLabel {
  padding-left: 18px;
}
@media screen and (max-width: 660px) {
  .redux-container-better_color_gradient .colorGradient {
    display: block;
    text-align: center !important;
  }
}
